# Node operator configuration
PRIVATE_KEY=<YOUR_PRIVATE_KEY>
NODE_OPERATOR_NAME="<YOUR_NODE_NAME>"

# Chain configuration (mainnet)
CHAIN_ID=1050
DEPLOYED_CONTRACT=""
BLOCKCHAIN_NODE="https://rpc.diadata.org/"
BACKUP_NODE="https://rpc.diadata.org/"
IMAGE_TAG=""

# Monitoring
PUSHGATEWAY_USER=<OPERATOR_USER>
PUSHGATEWAY_PASSWORD=<OPERATOR_PASSWORD>
PUSHGATEWAY_URL="https://pushgateway-auth.diadata.org"
ENABLE_METRICS_SERVER=true
METRICS_PORT=9090

# GitHub access token
GITHUB_TOKEN=<YOUR_GITHUB_PAT>

# (Meta)contract configuration
METACONTRACT_NODE="https://rpc.diadata.org/"
METACONTRACT_ADDRESS="0xBd82Fc0067CA5977b86c6EDB579f90DFcFb62D7d"
METACONTRACT_PRECISION="18"
BATCH_SIZE_ORACLE_UPDATE="10"

# Log levels
LOG_LEVEL_MAIN="info"
LOG_LEVEL_PROCESSOR="info"
LOG_LEVEL_SCRAPERS="info"
LOG_LEVEL_UPDATER="info"
LOG_LEVEL_FILTERS="info"

WATCH_FEED_CONFIG_INTERVAL="3600"

# CEX scrapers
CEX_LIST="Binance,Bitget,BitMart,Bitstamp,ByBit,CoinBase,Crypto.com,GateIO,Kraken,KuCoin,MEXC,OKEx"

BINANCE_WATCHDOG="240"
BITGET_WATCHDOG="240"
BITMART_WATCHDOG="240"
BITSTAMP_WATCHDOG="240"
BYBIT_WATCHDOG="240"
COINBASE_WATCHDOG="240"
CRYPTODOTOCOM_WATCHDOG="240"
GATEIO_WATCHDOG="240"
KRAKEN_WATCHDOG="360"
KUCOIN_WATCHDOG="240"
MEXC_WATCHDOG="240"
OKEX_WATCHDOG="240"

BINANCE_WATCH_CONFIG_INTERVAL="21600"
BITGET_WATCH_CONFIG_INTERVAL="21600"
BITMART_WATCH_CONFIG_INTERVAL="21600"
BITSTAMP_WATCH_CONFIG_INTERVAL="21600"
BYBIT_WATCH_CONFIG_INTERVAL="21600"
COINBASE_WATCH_CONFIG_INTERVAL="21600"
CRYPTODOTOCOM_WATCH_CONFIG_INTERVAL="21600"
GATEIO_WATCH_CONFIG_INTERVAL="21600"
KRAKEN_WATCH_CONFIG_INTERVAL="21600"
KUCOIN_WATCH_CONFIG_INTERVAL="21600"
MEXC_WATCH_CONFIG_INTERVAL="21600"
OKEX_WATCH_CONFIG_INTERVAL="21600"

# DEX scrapers
DEX_LIST="AerodromeSlipstream,AerodromeV1,Curve,PancakeswapV3,UniswapV2,UniswapV2_Base,UniswapV3,UniswapV3_Base,UniswapV4,UniswapV4_Base"
AERODROMESLIPSTREAM_URI_REST=<BASE_HTTP_NODE_URL>
AERODROMESLIPSTREAM_URI_WS=<BASE_WS_NODE_URL>
AERODROMEV1_URI_REST=<BASE_HTTP_NODE_URL>
AERODROMEV1_URI_WS=<BASE_WS_NODE_URL>
CURVE_URI_REST=<ETHEREUM_HTTP_NODE_URL>
CURVE_URI_WS=<ETHEREUM_WS_NODE_URL>
PANCAKESWAPV3_URI_REST=<BSC_HTTP_NODE_URL>
PANCAKESWAPV3_URI_WS=<BSC_WS_NODE_URL>
UNISWAPV2_URI_REST=<ETHEREUM_HTTP_NODE_URL>
UNISWAPV2_URI_WS=<ETHEREUM_WS_NODE_URL>
UNISWAPV2_BASE_URI_REST=<BASE_HTTP_NODE_URL>
UNISWAPV2_BASE_URI_WS=<BASE_WS_NODE_URL>
UNISWAPV3_URI_REST=<ETHEREUM_HTTP_NODE_URL>
UNISWAPV3_URI_WS=<ETHEREUM_WS_NODE_URL>
UNISWAPV3_BASE_URI_REST=<BASE_HTTP_NODE_URL>
UNISWAPV3_BASE_URI_WS=<BASE_WS_NODE_URL>
UNISWAPV4_URI_REST=<ETHEREUM_HTTP_NODE_URL>
UNISWAPV4_URI_WS=<ETHEREUM_WS_NODE_URL>
UNISWAPV4_POOL_MANAGER_ADDRESS=0x000000000004444c5dc75cB358380D2e3dE08A90
UNISWAPV4_BASE_URI_REST=<BASE_HTTP_NODE_URL>
UNISWAPV4_BASE_URI_WS=<BASE_WS_NODE_URL>
UNISWAPV4_BASE_POOL_MANAGER_ADDRESS=0x498581fF718922c3f8e6A244956aF099B2652b2b

AERODROMESLIPSTREAM_WATCH_CONFIG_INTERVAL="21600"
AERODROMEV1_WATCH_CONFIG_INTERVAL="21600"
CURVE_WATCH_CONFIG_INTERVAL="21600"
PANCAKESWAPV3_WATCH_CONFIG_INTERVAL="21600"
UNISWAPV2_WATCH_CONFIG_INTERVAL="21600"
UNISWAPV2_BASE_WATCH_CONFIG_INTERVAL="21600"
UNISWAPV3_WATCH_CONFIG_INTERVAL="21600"
UNISWAPV3_BASE_WATCH_CONFIG_INTERVAL="21600"
UNISWAPV4_WATCH_CONFIG_INTERVAL="21600"
UNISWAPV4_BASE_WATCH_CONFIG_INTERVAL="21600"