# Syntax highlighting for .env example files
docker-compose/*.env.example* linguist-language=INI
docker-compose/.env.example* linguist-language=INI
*.env.example* linguist-language=INI
.env.example* linguist-language=INI

