# ----------------------------------------------
# Node operator configuration (MUST be filled by node operators)
# ----------------------------------------------
PRIVATE_KEY=
NODE_OPERATOR_NAME=""

# ----------------------------------------------
# Chain configuration
# https://github.com/diadata-org/decentral-feeder/wiki/Chain-Info
# ----------------------------------------------
CHAIN_ID=1050
DEPLOYED_CONTRACT=""
BLOCKCHAIN_NODE="https://rpc.diadata.org/"
BACKUP_NODE="https://rpc.diadata.org/"
IMAGE_TAG=""

# ----------------------------------------------
# Monitoring
# ----------------------------------------------
PUSHGATEWAY_USER=
PUSHGATEWAY_PASSWORD=
PUSHGATEWAY_URL="https://pushgateway-auth.diadata.org"

# Exposes the feeder metrics locally on port 9090
ENABLE_METRICS_SERVER=true

# ----------------------------------------------
# GitHub Personal Access Token 
# This will be used to fetch asset configurations & prevent rate limiting (increases limit from 60 to 5,000 requests/hour).
# Instructions on generating a PAT on Github can be found here:
# https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens#creating-a-fine-grained-personal-access-token
# Only read permissions are required
# ----------------------------------------------
GITHUB_TOKEN=


# ----------------------------------------------
# Asset Configurations
# ----------------------------------------------
METACONTRACT_NODE='https://rpc.diadata.org/'
METACONTRACT_ADDRESS='0x5eeB8c00CD8F189f62c9BAD352C0C474429F8A27'
METACONTRACT_PRECISION='8'

## CEX List
CEX_LIST='Binance,ByBit,CoinBase,Crypto.com,GateIO,Kraken,KuCoin,MEXC,OKEx'

BINANCE_WATCH_CONFIG_INTERVAL='21600'
BYBIT_WATCH_CONFIG_INTERVAL='21600'
COINBASE_WATCH_CONFIG_INTERVAL='21600'
CRYPTODOTOCOM_WATCH_CONFIG_INTERVAL='21600'
GATEIO_WATCH_CONFIG_INTERVAL='21600'
KRAKEN_WATCH_CONFIG_INTERVAL='21600'
KUCOIN_WATCH_CONFIG_INTERVAL='21600'
MEXC_WATCH_CONFIG_INTERVAL='21600'
OKEX_WATCH_CONFIG_INTERVAL='21600'

## DEX List
DEX_LIST='UniswapV3,PancakeswapV3,UniswapV2,UniswapV2_Base,Curve'
UNISWAPV3_URI_REST="" # Replace with Ethereum Http Node URL
UNISWAPV3_URI_WS="" # Replace with Ethereum WS Node URL
PANCAKESWAPV3_URI_REST="" # Replace with BinanceSmartChain Http Node URL
PANCAKESWAPV3_URI_WS="" # Replace with BinanceSmartChain WS Node URL
UNISWAPV2_URI_REST="" # Replace with Ethereum Http Node URL
UNISWAPV2_URI_WS="" # Replace with Ethereum WS Node URL
UNISWAPV2_BASE_URI_REST="" # Replace with Base Http Node URL
UNISWAPV2_BASE_URI_WS="" # Replace with Base WS Node URL
CURVE_URI_REST="" # Replace with Ethereum Http Node URL
CURVE_URI_WS="" # Replace with Ethereum WS Node URL

PANCAKESWAPV3_WAIT_TIME='500' 
CURVE_WAIT_TIME='500'

UNISWAPV3_WATCH_CONFIG_INTERVAL='21600'
PANCAKESWAPV3_WATCH_CONFIG_INTERVAL='21600'
UNISWAPV2_WATCH_CONFIG_INTERVAL='21600'
UNISWAPV2_BASE_WATCH_CONFIG_INTERVAL='21600'
CURVE_WATCH_CONFIG_INTERVAL='21600'
