services:
  twelvedata-data-feeder:
    image: diadata/decentralized-data-feeder:<VERSION>
    # for latest image versions see https://hub.docker.com/r/diadata/decentralized-data-feeder/tags
    env_file:
      - .env-twelvedata
    restart: always
  decentralized-feeder:
    image: diadata/decentralized-feeder:scraper-<VERSION>
    # for latest image versions see https://hub.docker.com/r/diadata/decentralized-feeder/tags
    env_file:
      - .env.decentralized-feeder
    restart: always
  fair-value-feeder:
    image: diadata/fair-value-feeder:<VERSION>
    # for latest image versions see https://hub.docker.com/r/diadata/fair-value/tags
    env_file:
      - .env.fair-value-feeder
    restart: always