name: decentralized-feeder-pull-request-pipeline

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:  # This allows manual triggering

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - uses: actions/checkout@v4

      # Set up Go
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      # Get dependencies
      - name: Get dependencies
        run: go mod tidy

      # Build the Go application
      - name: Build
        run: go build -v ./...

      # Test the Go application
      - name: Test
        run: go test -v ./...

  push_image_and_deploy:
    runs-on: ubuntu-latest
    needs: build_and_test
    steps:
      # Checkout the repository
      - uses: actions/checkout@v4

      # Get Short Commit Hash
      - name: Get Short Commit Hash
        run: |
          COMMIT_HASH=$(git rev-parse --short HEAD)
          echo "COMMIT_HASH=$COMMIT_HASH" >> $GITHUB_ENV

      # Checkout the cluster-backend repository
      - name: Checkout cluster-backend repository
        env:
          TOKEN: ${{ secrets.PIPELINE_TOKEN }}
        run: |
          git clone https://$TOKEN@github.com/diadata-org/cluster-backend cluster-backend

      # Install IBM Cloud CLI and Container Registry CLI
      - name: Install IBM Cloud CLI
        run: |
          curl -fsSL https://clis.cloud.ibm.com/install/linux | sh
          ibmcloud plugin install container-registry -f

      # Log in to IBM Cloud
      - name: Log in to IBM Cloud
        env:
          IBM_CLOUD_API_KEY: ${{ secrets.IBM_CLOUD_API_KEY }}
        run: |
          ibmcloud login --apikey $IBM_CLOUD_API_KEY --no-region
          ibmcloud target -r us-south
          ibmcloud target -g Default

      # Build and Tag the Docker image with the commit hash
      - name: Build and Tag Docker image
        run: |
          docker build -f build/Dockerfile-diaDecentralOracleService -t us.icr.io/dia-registry/oracles/diadecentraloracleservice:commit-hash-${{ env.COMMIT_HASH }} .

      # Push the Docker image to IBM Cloud Container Registry
      - name: Push Docker image
        run: |
          ibmcloud cr login
          docker push us.icr.io/dia-registry/oracles/diadecentraloracleservice:commit-hash-${{ env.COMMIT_HASH }}

      # Install kubectl
      - name: Install kubectl
        run: |
          curl -LO "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x ./kubectl
          sudo mv ./kubectl /usr/local/bin/kubectl

      # Configure kubectl with service account 
      - name: Configure kubectl with Service Account
        env:
          TOKEN: ${{ secrets.K8S_SERVICE_ACCOUNT_TOKEN }}
          CLUSTER_NAME: dia-cluster-dal/c1ebf5md0icveupf0t10
          API_SERVER:  ${{ secrets.K8S_API_SERVER_IBM }}
        run: |
          TOKEN=$(echo "$TOKEN" | tr -d '\n')
          kubectl config set-cluster "$CLUSTER_NAME" --server="$API_SERVER"
          kubectl config set-credentials github-actions-sa --token="$TOKEN"
          kubectl config set-context "$CLUSTER_NAME" --cluster="$CLUSTER_NAME" --user=github-actions-sa
          kubectl config use-context "$CLUSTER_NAME"

      # Helm upgrade command with the commit hash tag
      - name: Helm upgrade/install conduit-node-011
        run: |
          cd cluster-backend/helmcharts/oracles/conduit-test/011-testspace
          helm upgrade --install -n dia-testspace --set repository.tag="commit-hash-${{ env.COMMIT_HASH }}" diaoracleservice-conduit-011 .

      # Cleanup the cloned repository
      - name: Cleanup cloned repository
        run: |
          rm -rf cluster-backend
